# Ignore csv files to avoid memory issue (slow)
# **/*.csv

# Ignore csvs folder
tracking/csvs/

# Ignore h5s folder
tracking/h5s/

# Ignore trex inputs folder
# tracking/trex_inputs/
tracking/trex_inputs/20230329.pv
tracking/trex_inputs/20230329.results
tracking/trex_inputs/20230329.settings

# Ignore all raw TReX outputs except for those of interest
tracking/trex_outputs/batch_0
# tracking/trex_outputs/batch_1
tracking/trex_outputs/batch_2
tracking/trex_outputs/batch_3
tracking/trex_outputs/batch_4
tracking/trex_outputs/batch_5
tracking/trex_outputs/batch_6
tracking/trex_outputs/batch_7
tracking/trex_outputs/batch_8
tracking/trex_outputs/batch_9
tracking/trex_outputs/batch_10

# Ignore preprocessed data except for those of interest
preprocessed/batch_0