numpy
pandas
matplotlib
pandas
seaborn
h5py
scipy
scikit-learn
tables
tqdm
opencv-python
memory-profiler
line_profiler
numba
xarray
h5netcdf
pynumdiff
cvxpy
osqp
scs
# pyarrow
awkward==2.6.4
zarr==2.17.0
